<ion-view view-title="Account">
  <ion-content>
  <button class="button button-block button-positive" ng-click="loginModal.show()">Se connecter</button>
  <button class="button button-block button-positive" ng-click="signupModal.show()">S'inscrire</button>
  <button class="button button-block button-positive" ng-click="showLogout()">Se déconnecter</button>
  <div class="info">
    <p> Les infos oué</p>
    <button class="button button-small button-positive" ng-click="showSupprimer()">Supprimer le compte</button>
  </div>
  <div class="card">
    <p>
      Plateforme : {{info.platform}}
    </p>
    <p>
      Version : {{info.version}}
    </p>
  </div>
  <div class="todo">
    <p>-----TODO------</p>
    <h4>Tous</h4>
    <p> Montrer que le bouton de l'état</p>
    <p>Déconnexion</p>
    <p>Supprimer Compte</p>
  </div>
  </ion-content>
</ion-view>
