<ion-view view-title="Echanger vos coupons !">
  <ion-nav-buttons side="left">
    <button menu-toggle = "left" class = "button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <ion-list>
      <!-- TODO -->
      <ion-item ng-repeat="offerchercher in offerschercher" type="item-text-wrap">
        {{offerchercher.title}}
        <p>{{offerchercher.shop}}</p>
        <p>{{offerchercher.expiration}}</p>
        <p><b>-{{offerchercher.value}}%</b></p>
        <p>{{offerchercher.description}}</p>
        <button class="button button-small button-positive" ng-show="true" ng-click="demander()">Envoyer une demande</button>
      </ion-item>
    </ion-list>
    <div class="todo">
      <p>-----TODO------</p>
      <h4>Client</h4>
      <p>Bouton request -> envoie message </p>
    </div>
  </ion-content>
</ion-view>
