<ion-view view-title="Vos Offres">
  <ion-content class="padding">
    <button class="button button-block button-positive" ng-show="seller" ng-click="addOffreModal.show()">Ajouter une nouvelle offre</button>
    <ion-list>
      <ion-item ng-repeat="myoffer in myoffers" type="item-text-wrap">
        <i class="icon {{myoffer.icon}}"></i>
        {{myoffer.title}}
        <p>{{myoffer.shop}}</p>
        <p>{{myoffer.expiration}}</p>
        <p><b>-{{myoffer.value}}%</b></p>
        <p>{{myoffer.description}}</p>
        <button class="button button-small button-positive" ng-show="seller" ng-click="showConfirm()">Supprimer l'offre</button>
      </ion-item>
    </ion-list>
    <div class="todo">
      <p>-----TODO------</p>
      <h4>Gérant</h4>
      <p>Ajouter une offre JS</p>
      <p>Supprimer Offre JS</p>
    </div>
  </ion-content>
</ion-view>
