<ion-view view-title="{{offerPop.title}}">
  <ion-content class="padding">
      <p>{{offerPop.description}}</p>
      <p>{{offerPop.shop}}</p>
      <p>{{offerPop.timeout}}</p>
      <p><b>{{offerPop.reduction}}</b></p>
      <button class="button button-small button-positive" ng-click="showConfirm()">Sélectionner l'offre</button>
    <div class="todo">
      <p>-----TODO------</p>
      <h4>Client</h4>
      <p>Sélectionner l'offre (1 seul exemplaire)</p>
      <p>Liste plus jolie</p>
    </div>
  </ion-content>
</ion-view>
