<ion-view view-title="Echanger vos coupons !">
  <ion-nav-buttons side="left">
    <button menu-toggle = "left" class = "button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <button class="button button-block button-positive" ng-show="true" ng-click="posterOffreModal.show()">Proposer un coupon</button>
    <ion-list>
      <!-- TODO -->
      <ion-item ng-repeat="offerposter in offersposter" type="item-text-wrap">
        {{offerposter.title}}
        <p>{{offerposter.shop}}</p>
        <p>{{offerposter.expiration}}</p>
        <p><b>-{{offerposter.value}}%</b></p>
        <p>{{offerposter.description}}</p>
        <p>Request sent by {{offerposter.buyer}}</p>
        <button class="button button-small button-positive" ng-show="true" ng-click="retirer({{offerposter.id}})">Retirer le coupon</button>
        <button class="button button-small button-positive" ng-show="true" ng-click="echanger(offerposter.id, offerposter.buyer)">Confirmer l'echange</button>
        <button class="button button-small button-positive" ng-show="true" ng-click="refuser({{offerposter.id}})">Refuser l'echange</button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
