<ion-modal-view>
  <ion-content>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Nom du coupon</span>
          <input type="text" ng-model="addOffreData.nameOffer">
        </label>
        <label class="item item-input">
          <span class="input-label">Votre Boutique</span>
          <input type="text" ng-model="addOffreData.boutique">
        </label>
        <label class="item item-input">
          <span class="input-label">Durée de la réduction</span>
          <input type="text" ng-model="addOffreData.reductionDuree">
        </label>
        <label class="item item-input">
          <span class="input-label">Montant réduction</span>
          <input type="text" ng-model="addOffreData.reductionMontant">
        </label>
        <label class="item item-input">
          <span class="input-label">Description</span>
          <input type="text" ng-model="addOffreData.description">
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="addOffreData()">Créer l'offre</button>
        </label>
      </div>
  </ion-content>
</ion-modal-view>
