<ion-modal-view>
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Nom d'utilisateur</span>
        <input type="text" ng-model="loginData.username">
      </label>
      <label class="item item-input">
        <span class="input-label">Mot de passe</span>
        <input type="password" ng-model="loginData.password">
      </label>
      <label class="item" ng-show="error">
        <span class="text">Mauvais login ou mot de passe.</span>
      </label>
      <label class="item">
        <button class="button button-block button-positive" ng-click="logIn()">Valider</button>
      </label>
    </div>
  </ion-content>
</ion-modal-view>
