<ion-view view-title="Vos Coupons">
  <ion-nav-buttons side="left">
    <button menu-toggle = "left" class = "button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <button class="button button-block button-positive" ng-show="seller" ng-click="addOffreModal.show()">Ajouter un nouveau coupon</button>
    <ion-list>
      <ion-item ng-repeat="myoffer in myoffers" type="item-text-wrap">
        {{myoffer.title}}
        <p>{{myoffer.shop}}</p>
        <p>{{myoffer.expiration}}</p>
        <p><b>-{{myoffer.value}}%</b></p>
        <p>{{myoffer.description}}</p>
        <button class="button button-small button-positive" ng-show="seller" ng-click="showConfirm({{myoffer.id}})">Supprimer le coupon</button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
