<ion-view view-title="Détails du coupon">
  <ion-content class="padding">
    <h3>{{offer.title}}</h3>
    <p>Magasin : {{offer.shop}}</p>
    <p>Date d'expiration : {{offer.expiration}}</p>
    <p>Montant de la réduction : <b>-{{offer.value}}%</b></p>
    <p>Description de l'offre : {{offer.description}}</p>
    <p>Auteur du coupon de réduction : {{offer.owner}}</p>
    <button class="button button-small button-positive" ng-show="client" ng-click="showConfirm()">Sélectionner le coupon</button>
  </ion-content>
</ion-view>
